Q1. Explain with an example each when to use a for loop and a while loop.

Ans. use of for loop when we know the no. of iterations perform by loop i.e easily count no. of iterations

use of while loop when we do not count the no. of iteration will perform by the loop then we use while loop it will execute until the condition become false

In [1]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [3]:
i=0
while i<=100:
    print(i)
    i+=6

0
6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

using while loop

sum

In [1]:
sum = 0
n=1
while n<=10:
    sum=sum+n
    n=n+1
sum

55

product

In [6]:
product=1
n=1
while n<=10:
    product=product*n
    n=n+1
product

3628800

using for loop

sum

In [7]:
sum = 0
for i in range(1,11):
    sum=sum+i
sum

55

product

In [9]:
product=1
for i in range(1,11):
    product=product*i
product

3628800

Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [20]:
n=int(input("enter your electricity units"))
sum=0
while n>0:
    if n>100:
        sum=100*4.5
        n=n-100
    else:
        sum=n*4.5
        break

    if n>100:
        sum=sum+100*6
        n=n-100
    else:
        sum=sum+n*6
        break

    if n>100:
        sum=sum+100*10
        n=n-100
    else:
        sum=sum+n*10
        break

    if n>0:
        sum=sum+n*20
        break
sum

enter your electricity units 310

2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [3]:
l=list(range(1,101))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [5]:
l1=[]
for i in l:
    cube=i**3
    if cube%4==0 or cube%5==0:
        l1.append(i)
print(l1)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Q5. Write a program to filter count vowels in the below-given string.
               string = "I want to become a data scientist"

In [67]:

string = "I want to become a data scientist"   
vowels = 'aeiouAEIOU'
count = 0
for char in string:
  if char in vowels:   #right code
    count += 1
print(count)

12

In [69]:
#or

string = "I want to become a data scientist"   

count = 0
for char in string.lower():
  if char in 'aeiou':   #right code
    count += 1
print(count)

12